*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body{
   
}
.logo{
    margin-left: 10px;
}
.navbar{
    background: #3c8d9e;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul a li{
    list-style-type: none;
    transition: 0.1s;
}
ul a li:hover{
    transform: scale(1.1);
    
}
ul a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
.container{
    height: 500px;
    background: #d0e8f7;
    text-align: center;
    padding: 30px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    color: black;
}
.cta-button{
    background: #3c8d9e;
    padding: 15px 35px;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 75px;
}
.features {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap:10px;
  margin: 50px 0px;
}

.feature {
  background-color: #a7e2f3;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 180px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.feature:hover {
    animation-name: fspin;
}
@keyframes fspin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.feature:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.feature h3{
    padding: 10px;
    margin-bottom: 5px;
}
.feature p{
    color: #555;
}

/* signin */
.form{
   background-color: #f0f8ff;
   color: #4682b4;
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.1rem;
}

.f-con{
   background-color: lightblue;
   margin: 80px 0px;
   width: 300px;
   height: 60%;
   padding: 40px;
   border-radius: 15px;
}
.f-con h2{
   text-align: center;
   margin-bottom: 50px;
   margin-top: 20px;
}
label{
   display: block;
   color:black;
   margin-top: 50px;
   font-weight: 300;
   margin-bottom: 10px;
}
input{
   height: 40px;   
   width: 100%;
   text-align: center;
   outline: none;
   
}
.btn{
   width: 100%;
   height: 40px;
   margin-top: 70px;
   border-radius: 15px;
   border: 1px solid gray;
   background-color: #5dade2;
   font-size: 14px;
   font-weight: 400;
   transition-duration: 0.2s;
   cursor: pointer;
}
.btn:hover{
   box-shadow: 0px 0px 5px 2px white;
   transform: scale(0.9);
}
p{
   text-align: center;
   margin-top: 50px;
   font-weight: 250;
   font-size: 14px;
}
p a{
   text-decoration: none;
   color: black;   
}